*{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
  
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #796aa138,#685e8538), url(imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  nav{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  
  nav ul li{
    margin-left: 15px;
    list-style: none;
  }
  nav ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  nav ul li a:hover{
    text-decoration: underline;
  }
  .titulo{
    max-width: 600p;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .titulo h2{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
  }
  .titulo h3{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
  }
  .titulo p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
  .titulo a{
    display: inline-block;
    margin-top: 25px;
    background: white;
    padding: 10px 15px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font: weight 700px;
    transition: all 0.3s ease;
  }
  .titulo a:hover{
    transform: translateY(-5px);
  }
  
  